.section.work
  position fixed
  height 100%
  width 100%
  overflow hidden
  background-color gc(blue1)
  > .logo > svg > polygon
    fill gc(white1)
    //fill gc(blue3)
  > .inner
    background-color gc(blue1)
    width 100%
    height 100%
    top 0
    left 0
    margin 0
    overflow hidden
    > .tapspace
      position absolute
      width 70vw
      height 60vh
      top 50%
      left 50%
      margin-top -30vh
      margin-left -35vw
      z-index 200

    > .template
      display none
    > .copys
      z-index 200
      position absolute
      bottom 30px
      left 30px
      > .copy
        color gc(white1)
        text-decoration none
        onoff()
        &.linked:hover
          > .copylink
            > .vector.outlined
              opacity 0
            > .vector.filled
              opacity 1

        > .ctitle
          animation inFromLeft 0.5s ease-in-out both 0.2s
          float left
          gf(h1)
          margin-bottom 8px
        > .copylink
          animation inFromLeft 0.5s ease-in-out both 0.21s
          float left
          width 28px
          height 28px
          border-radius 50%
          margin 5px 0 0 10px
          position relative
          > .vector
            position absolute
            fullsize()
            transition opacity 0.2s ease-in-out
            &.outlined
              opacity 1
            &.filled
              opacity 0
            > svg
              width inherit
              height inherit
              > path
                fill gc(white1)
        > .cdescription
          clear both
          animation inFromLeft 0.5s ease-in-out both 0.2s
          gf(copy1)
    > .gigs
        width 100%
        height 100%
        animation fInFromBottom 0.5s ease-in-out both 0.1s
        &.gigs_desktop
          display block
        &.gigs_mobile
          display none

        > .gig
          &.on
            opacity 1
            &.up
              animation fInFromBottom 0.5s ease-in-out both 0.02s
            &.down
              animation fInFromTop 0.5s ease-in-out both 0.02s
          &.off
            display none
          &.offing
            opacity 0
            &.up
              animation fOutToTop 0.5s ease-in-out both 0s
            &.down
              animation fOutToBottom 0.5s ease-in-out both 0s

          position absolute
          fullsize()
          width inherit
          height inherit
          background-size cover
          background-position 50% 50%
          > .image
            onoff()
            width inherit
            height inherit
            background-size cover
            background-position 50% 50%
            animation fadeIn 0.2s ease-in-out 0s
 
@media all and (min-width: 1px) and (max-width: 1000px)
  .section.work
    > .inner
      > .tapspace
        width 100vw
        margin-left -50vw

@media all and (min-width: 1px) and (max-width: 1000px) and (orientation: portrait)
  .section.work > .inner > .gigs.gigs_desktop
    display none
  .section.work > .inner > .gigs.gigs_mobile
    display block
/*
  .section.work > .inner > .copys
    top 70vh
    left 30px

@media all and (min-width: 1px) and (max-width: 1000px) and (orientation: landscape)
  .section.work > .inner > .copys
    top 60vh
    left 30px
*/
