
.border
  position absolute
  transition background-color 1s linear
  &.definery
    background-color gc(teal1)
  &.iterate
    background-color gc(bblue)
  &.product
    background-color gc(bpink)
  &.navigate
    background-color gc(bgreen)
  z-index 100
  &.vert
    height 12px
    width 100vw
  &.horiz
    width 12px
    height 100vh
  &.top
    top 0px
  &.bottom
    bottom 0px
  &.left
    top 0px
    left 0px
  &.right
    top 0px
    right 0px

.menu
  position absolute
  top 30px
  right 30px
  z-index 210
  onoff()
  > .option
    cursor pointer
    color gc(white1)
    padding 5px
    transition all 0.2s linear
    &:hover
      border-bottom 1px solid gc(white1)
    &.on
      border-bottom 2px solid gc(white1)

.contact
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  z-index 205
  onoff()
  > .color
    position absolute
    animation cellInXFull 0.2s ease-in-out both
    animation-delay 0s
    background-color gc(teal2)
    top 0
    bottom 0
    left 0
    right 0
  > .close
    cursor pointer
    position absolute
    width 30px
    height 30px
    right 30px
    top 30px
    &:hover > svg path
      fill gc(teal3)
    > svg
      path
        fill gc(teal1)
        transition fill 0.2s linear

    > svg
      width inherit
      height inherit
  > .inner
    animation fadeIn 0.2s ease-in-out both
    animation-delay 0.3s
    width 300px
    height 160px
    position absolute
    top 50%
    left 50%
    margin-left -150px
    margin-top -80px
    > .email
      color gc(teal1)
      gf(h2)
      padding 0
      margin 0 
      border 0
      background-color transparent
      text-align center
      width 300px
      text-align center
      text-decoration none
      &:active
        outline none
    > .socials
      > .social
        width 40px
        height 40px
        background-color gc(teal1)
        padding 20px
        display inline-block
        border-radius 50%
        margin 30px 10px 0 10px
        cursor pointer
        transition background-color 0.2s linear
        &:hover
          background-color gc(teal3)
        > svg
          width inherit
          height inherit
          path
            fill gc(teal2)
.dots
  z-index 200
  position absolute
  width 20px
  height 150px
  top 50%
  right 30px
  margin-top -75px
  > .dot
    cursor pointer
    width 20px
    height 20px
    margin 15px 0
    overflow hidden
    > .inner
      border-radius 50%
      //transition all 0.75s ease-in-out 
      transition all 0.25s ease-in-out 
    &.off > .inner
      width 0px
      height 0px
      transform translate(5px, 5px)
      border 5px solid gc(white1)
    &.on > .inner
      width 16px
      height 16px
      border 2px solid gc(white1)
      transform translate(0px, 0px)
.colors
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  > .cyan
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-color gc(black1)
    > .background
      position absolute
      width 100%
      height 100%
      background-size cover
      z-index 0
      &.off
        display none
      &.on
        display block
      &.definery
        background-image url('/img/bg_definery.jpg')
      &.iterate
        background-image url('/img/bg_iterate.jpg')
      &.navigate
        background-image url('/img/bg_navigate.jpg')
      &.product
        background-image url('/img/bg_product.jpg')

      &.inFromBottom
        animation inFromBottom 1s ease-out both
        z-index 10
      &.inFromTop
        z-index 10
        animation inFromTop 1s ease-out both
      &.outToTop
        animation outToTop 1s ease-in both
      &.outToBottom
        animation outToBottom 1s ease-in both
  > .svg > svg > polygon
    transition fill 1s ease-in 0.1s
    transition-timing-function: cubic-bezier(.87,-.41,.19,1.44)
  > .svg.star_definery > svg > polygon
    fill gc(teal1)
  > .svg.star_iterate > svg > polygon
    fill gc(blue2)
  > .svg.star_navigate > svg > polygon
    fill gc(teal1)
  > .svg.star_product > svg > polygon
    fill gc(pink2)

.blend-multiply
  z-index 100
  mix-blend-mode multiply
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  > .video
    position absolute
    width 500px
    height 500px
    top 50%
    left 50%
    margin-top -250px
    > video
      height 500px
  > .blend-screen
    mix-blend-mode screen
    top 0
    left 0
    width 100%
    height 100%
    background-color gc(white1)
    text-align center
    gf(h1)

.svg
  z-index 100
  position absolute
  width 500px
  height 500px
  top 50%
  left 50%
  margin-top -250px
  onoff()
  > svg
    width inherit
    height inherit
    > polygon
      fill gc(black1)
      &:nth-child(3)
        animation fadeIn 0.5s ease-in-out both
        animation-delay 0.5s
      &:nth-child(2)
        animation fadeIn 0.5s ease-in-out both
        animation-delay 1.0s
      &:nth-child(1)
        animation fadeIn 0.5s ease-in-out both
        animation-delay 1.5s

.content
  position absolute
  width 300px
  height 360px
  top 50%
  left 50%
  margin-top -150px
  margin-left -400px
  z-index 100
  onoff()
  &.cInFromBottom
    animation cInFromBottom 0.6s ease-in-out both 0.15s
  &.cInFromTop
    animation cInFromTop 0.6s ease-in-out both 0.15s
  &.cOutToTop
    animation cOutToTop 0.6s ease-in-out both
  &.cOutToBottom
    animation cOutToBottom 0.6s ease-in-out both

  > .inner
    position relative
    width 100%
    height 100%

    > .logo
      animation fadeIn 0.5s ease-in-out both
      animation-delay 0.1s
      height 40px
      > svg
        height inherit
    > .title
      gf(h1)
      color gc(white1)
      animation fadeIn 0.5s ease-in-out both
      animation-delay 0.1s
    > .pronounce
      margin 20px 0
      color gc(black2)
      animation fadeIn 0.5s ease-in-out both
      animation-delay 0.2s
    > .copy
      margin 20px 0 20px 0
      color gc(white1)
      animation fadeIn 0.5s ease-in-out both
      animation-delay 0.2s
    > .define
      color gc(white1)
      margin 0 0 20px 0
      animation fadeIn 0.5s ease-in-out both
      animation-delay 0.3s
      &.second
        animation-delay 0.4s
    > .top > .nav
      padding-bottom 20px
      animation fadeIn 0.5s ease-in-out both
      animation-delay 0.1s
    > .bottom > .nav
      cursor pointer
      user-select none
      touch-callout none
      -webkit-touch-callout none
      transition transform 0.5s ease-in
      -webkit-tap-highlight-color rgba(255, 255, 255, 0)
      &:hover
        transform translate(10px, 0)
        transition transform 2s ease-out
      tap-highlight-color rgba(255, 255, 255, 0)
    > .bottom > .nav, > .top > .nav
      gf(copy1b)
      &.nav_definery
        color gc(teal1)
        > .arrow > svg path
          fill gc(teal1)
      &.nav_iterate
        color gc(bblue)
        > .arrow > svg path
          fill gc(bblue)
      &.nav_navigate
        color gc(bgreen)
        > .arrow > svg path
          fill gc(bgreen)
      &.nav_product
        color gc(bpink)
        > .arrow > svg path
          fill gc(bpink)
    > .bottom
      position absolute
      bottom 0
      animation fadeIn 0.5s ease-in-out both
      animation-delay 0.5s
      > .line
        width 64px
        height 4px
        background-color gc(white1)
      > .nav
        padding 20px 0 0 0
        > .arrow
          float left
          width 30px
          height 30px
          transform rotate(90deg)
          &.last
            transform rotate(0deg)
          > svg
            width inherit
            height inherit
        > .copy
          margin 5px 0 0 40px


@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1

@keyframes inFromTop
  from
    opacity 0
    transform translate(0, -100px) scale(1)
  to
    opacity 1
    transform translate(0, 0) scale(1)


@keyframes inFromBottom
  from
    opacity 0
    transform translate(0, 100px) scale(1)
  to
    opacity 1
    transform translate(0, 0) scale(1)


@keyframes outToTop
  from
    opacity 1
    transform translate(0, 0) scale(1)
  to
    opacity 0
    transform translate(0, -100px) scale(1)


@keyframes outToBottom
  from
    opacity 1
    transform translate(0, 0) scale(1)
  to
    opacity 0
    transform translate(0, 100px) scale(1)


@keyframes cInFromTop
  from
    transform translate(0, -350px)
  to
    transform translate(0, 0)


@keyframes cInFromBottom
  from
    transform translate(0, 350px)
  to
    transform translate(0, 0)


@keyframes cOutToTop
  from
    opacity 1
    transform translate(0, 0)
  to
    opacity 0
    transform translate(0, -350px)


@keyframes cOutToBottom
  from
    opacity 1
    transform translate(0, 0)
  to
    opacity 0
    transform translate(0, 350px)

@media all and (min-width: 1px) and (max-width: 1000px)
  .dots
    display none
  .content > .inner > .logo > svg > g > path:nth-child(1)
    display none
  .svg
    overflow hidden
    width 100px
    height 100px
    left auto
    right 10%
    margin-top -240px
  .video
    width 100px
    height 100px
    left auto
    right 10%
    margin-top -240px
    display none
    opacity 0.5
  .content
    width 70vw
    height 450px
    left 15vw
    margin-left 0
    margin-top -225px
    > .inner
      > .title
        width 210px
  .background
    animation none !important

@media all and (min-width: 1px) and (max-width: 1000px) and (orientation: landscape)
  .content
    height 320px
    margin-top -160px
    > .inner
      > .title, > .logo
        width 50vw
        margin-bottom 50px
      > .logo
        margin-top 25px
        margin-bottom 25px
  .svg
    margin-top -130px

@media all and (min-width: 1px) and (max-width: 325px)
  .svg
    display none !important
  .menu
    top 10px
    right 20px

  @keyframes inFromTop
    from
      opacity 0
      transform translate(0, 0) scale(1)
    to
      opacity 1
      transform translate(0, 0) scale(1)


  @keyframes inFromBottom
    from
      opacity 0
      transform translate(0, 0) scale(1)
    to
      opacity 1
      transform translate(0, 0) scale(1)


  @keyframes outToTop
    from
      opacity 1
      transform translate(0, 0) scale(1)
    to
      opacity 0
      transform translate(0, 0) scale(1)


  @keyframes outToBottom
    from
      opacity 1
      transform translate(0, 0) scale(1)
    to
      opacity 0
      transform translate(0, 0) scale(1)

