
.border
  position absolute
  transition background-color 1s linear
  &.definery
    background-color gc(teal1)
  &.iterate
    background-color gc(bblue)
  &.product
    background-color gc(bpink)
  &.navigate
    background-color gc(bgreen)
  z-index 100
  &.vert
    height 12px
    width 100vw
  &.horiz
    width 12px
    height 100vh
  &.top
    top 0px
  &.bottom
    bottom 0px
  &.left
    top 0px
    left 0px
  &.right
    top 0px
    right 0px

.menu
  position absolute
  top 30px
  right 30px
  z-index 215
  onoff()
  width 275px
  > .option
    float right
    cursor pointer
    color gc(white1)
    padding 5px
    transition all 0.2s linear
    margin 0 10px 0 0
    user-select none
    -webkit-tap-highlight-color transparent
    &.on
      border-bottom 2px solid gc(white1)

.swiper
  position absolute
  top 0
  bottom 0
  right 0
  left 0
  z-index 215
  background-color orange
  onoff()
  //animation-timing-function: cubic-bright(.87,-.41,.19,1.44)
  &.swiper_about
    background-color gc(teal1)
  &.swiper_contact
    background-color gc(teal1)
  &.swiper_services
    background-color gc(pink1)
  &.swiper_work
    background-color gc(blue2)
  &.right
    left 100vw
    animation rightToLeft 0.5s ease-in-out both
  &.left
    right 100vw
    animation leftToRight 0.5s ease-in-out both

.section
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  z-index 210
  overflow scroll
  onoff()
  &.contact
    background-color gc(bgreen)
  &.services
    background-color gc(bpink)
  &.work
    background-color gc(bblue)

.section
  > .logo
    cursor pointer
    position absolute
    width 30px
    height 30px
    top 30px
    left 30px
    > svg
      width inherit
      height inherit
  > .inner
    position absolute
    top 50%
    left 50%
    margin-top -205px
    height 410px
    margin-left -350px
    width 700px
    color gc(white1)
    > .top
      animation cellInY 0.2s linear 0.2s both
      padding 0 0 20px 0
      > .label
        text-transform uppercase
      > .copy
        gf(h1)
        padding 20px 0 10px 0
    > .bottom
      padding 0 0 50px 0
      clear both
      > div
        > .label
          text-transform uppercase

.section.work
  > .logo > svg > polygon
    fill gc(teal1)
  > .inner
    > .top
      border-bottom 1px solid gc(teal1)
      > .label
        color gc(teal1)
    > .bottom
      > .companys
        > .company
          float left
          width 25%
          height auto
          animation cellInY 0.2s linear 0.3s both
          for i in 1..8
            &:nth-child({i})
              animation-delay unit((0.1*i) + 0.3, 's')

          > img
            width 100%

.section.contact
  > .logo > svg > polygon
    fill gc(teal1)
  > .inner
    > .top
      border-bottom 1px solid gc(teal1)
      a
        color gc(teal1)
        text-decoration none
      > .label
        color gc(teal1)
    > .bottom
      > .visit
        animation cellInY 0.2s linear 0.3s both
      > .social
        animation cellInY 0.2s linear 0.4s both
      > .visit, > .social
        float left
        width 50%
        > .label
          padding 40px 0 20px 0
          color gc(teal1)
        > .icon
          float left
          width 25px
          height 25px
          padding 20px
          border 2px solid gc(teal1)
          border-radius 50%
          margin 0 20px 0 0
          transition background-color 0.2s linear 0s
          &:hover
            background-color gc(teal1)
            > svg > path, > svg > circle
              fill gc(green1)
              transition fill 0.2s linear 0.1s
          > svg
            width inherit
            height inherit
            > path, > circle
              fill gc(teal1)
        > .address
          float left
          margin 10px 0 0 0
          color gc(white1)
          text-decoration none

.section.services
  > .logo > svg > polygon
    fill gc(pink1)
  > .inner
    > .top
      animation cellInY 0.2s linear 0.2s both
      border-bottom 1px solid gc(pink1)
      > .label
        color gc(pink1)
    > .bottom
      > .servicelist
        float left
        width 33%
        animation cellInY 0.2s linear 0.3s both
        &:nth-child(2)
          animation-delay 0.4s
        &:nth-child(3)
          animation-delay 0.5s
        > .label
          color gc(pink1)
          text-transform uppercase
          padding 40px 0 20px 0
        > .item
          padding 2px 10px 2px 0
.dots
  z-index 200
  position absolute
  width 20px
  height 150px
  top 50%
  right 30px
  margin-top -75px
  > .dot
    cursor pointer
    width 20px
    height 20px
    margin 15px 0
    overflow hidden
    > .inner
      border-radius 50%
      //transition all 0.75s ease-in-out
      transition all 0.25s ease-in-out
    &.off > .inner
      width 0px
      height 0px
      transform translate(5px, 5px)
      border 5px solid gc(white1)
    &.on > .inner
      width 16px
      height 16px
      border 2px solid gc(white1)
      transform translate(0px, 0px)

.colors
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  > .bgcolor
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    transition background-color 1s ease-out 0s
    opacity 0.9
    &.definery
      background-color gc(teal2)
    &.iterate
      background-color gc(blue2)
    &.navigate
      background-color gc(green2)
    &.product
      background-color gc(pink2)
  > .cyan
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    //background-color gc(black1)
    > .background
      position absolute
      width 100%
      height 100%
      background-size cover
      opacity 1
      &.off
        display none
      &.on
        display block
      &.definery
        background-image url('/img/bg_definery.jpg')
      &.iterate
        background-image url('/img/bg_iterate.jpg')
      &.navigate
        background-image url('/img/bg_navigate.jpg')
      &.product
        background-image url('/img/bg_product.jpg')

      &.inFromBottom
        animation inFromBottom 1s ease-out both
      &.inFromTop
        animation inFromTop 1s ease-out both
      &.outToTop
        animation outToTop 0.7s ease-in both
      &.outToBottom
        animation outToBottom 0.7s ease-in both
  > .svg.star_definery > svg > polygon
    fill gc(teal1)
  > .svg.star_iterate > svg > polygon
    fill gc(blue1)
  > .svg.star_navigate > svg > polygon
    fill gc(bgreen)
  > .svg.star_product > svg > polygon
    fill gc(pink1)

.blend-multiply
  z-index 100
  mix-blend-mode multiply
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  > .video
    position absolute
    width 500px
    height 500px
    top 50%
    left 50%
    margin-top -250px
    > video
      height 500px
  > .blend-screen
    mix-blend-mode screen
    top 0
    left 0
    width 100%
    height 100%
    background-color gc(white1)
    text-align center
    gf(h1)

.svg
  z-index 100
  position absolute
  width 500px
  height 500px
  top 50%
  left 50%
  margin-top -250px
  onoff()
  > svg
    width inherit
    height inherit
    > polygon.hidden
      visibility hidden
    > polygon
      transition fill 1s ease-in 0s
      fill gc(black1)
      &:nth-child(3)
        animation fadeIn 0.5s ease-in-out both
        animation-delay 0.5s
      &:nth-child(2)
        animation fadeIn 0.5s ease-in-out both
        animation-delay 0.7s
      &:nth-child(1)
        animation fadeIn 0.5s ease-in-out both
        animation-delay 0.9s

.content
  position absolute
  width 340px
  height 370px
  top 50%
  left 50%
  margin-top -150px
  margin-left -400px
  z-index 100
  onoff()
  &.cInFromBottom
    animation cInFromBottom 0.6s ease-in-out both 0.15s
  &.cInFromTop
    animation cInFromTop 0.6s ease-in-out both 0.15s
  &.cOutToTop
    animation cOutToTop 0.6s ease-in-out both
  &.cOutToBottom
    animation cOutToBottom 0.6s ease-in-out both

  > .inner
    position relative
    width 100%
    height 100%
    > .tapspace
      position absolute
      top 0
      left 0
      bottom 0
      right 0


    > .logo
      animation fadeIn 0.5s ease-in-out both
      animation-delay 0.1s
      height 40px
      > svg
        height inherit
    > .title
      gf(h1)
      color gc(white1)
      animation fadeIn 0.5s ease-in-out both
      animation-delay 0.1s
    > .pronounce
      margin 20px 0
      color gc(black2)
      animation fadeIn 0.5s ease-in-out both
      animation-delay 0.2s
    > .copy
      margin 20px 0 20px 0
      color gc(white1)
      animation fadeIn 0.5s ease-in-out both
      animation-delay 0.2s
    > .define
      color gc(white1)
      margin 0 0 20px 0
      animation fadeIn 0.5s ease-in-out both
      animation-delay 0.3s
      &.second
        animation-delay 0.4s
    > .top > .nav
      padding-bottom 20px
      animation fadeIn 0.5s ease-in-out both
      animation-delay 0.1s
    > .bottom > .nav
      cursor pointer
      user-select none
      touch-callout none
      -webkit-touch-callout none
      -webkit-tap-highlight-color rgba(255, 255, 255, 0)
      tap-highlight-color rgba(255, 255, 255, 0)
    > .bottom > .nav > .copy		
      border 2px solid gc(bpink)		
      padding 16px 56px		
      text-transform uppercase		
      white-space nowrap
      transition background-color 0.2s linear 0s, color 0.2s linear 0.05s		
      &:hover		
        background-color gc(bpink)		
        color gc(white1)

    > .bottom > .nav, > .top > .nav
      gf(copy1s)
      &.nav_definery
        color gc(teal1)
        > .arrow
          border 2px solid gc(teal1)
        > .arrow > svg path
          fill gc(teal1)
        > .arrow:hover
            background-color gc(teal1)
      &.nav_iterate
        color gc(bblue)
        > .arrow
          border 2px solid gc(bblue)
        > .arrow:hover
            background-color gc(bblue)
        > .arrow > svg path
          fill gc(bblue)
      &.nav_navigate
        color gc(bgreen)
        > .arrow
          border 2px solid gc(bgreen)
        > .arrow:hover
            background-color gc(bgreen)
        > .arrow > svg path
          fill gc(bgreen)
      &.nav_product
        color gc(bpink)
        > .arrow
          border 2px solid gc(bpink)
        > .arrow:hover
            background-color gc(bpink)
        > .arrow > svg path
          fill gc(bpink)
    > .bottom
      position absolute
      bottom 0
      animation fadeIn 0.5s ease-in-out both
      animation-delay 0.5s
      > .nav
        padding 20px 0 0 0
        > .arrow:hover > svg > path
          fill gc(white1)
        > .arrow
          transition background-color 0.2s linear 0s
          > svg
            transition fill 0.2s linear 0.05s
          float left
          width 60px
          height 60px
          &:nth-child(2)
            margin-left 25px
          border-radius 50%
          &.up
            transform rotate(180deg)
          &.down
            transform rotate(0deg)
          &.last
            transform rotate(0deg)
          onoff()
          > svg
            width inherit
            height inherit


@media all and (min-width: 1px) and (max-width: 1000px)
  .dots
    display none
  //.content > .inner > .logo > svg > g > path:nth-child(1)
    //display none
  .svg
    overflow hidden
    width 100px
    height 100px
    left auto
    right 10%
    margin-top -240px
    display none !important
  .video
    width 100px
    height 100px
    left auto
    right 10%
    margin-top -240px
  .content
    width 70vw
    height 400px
    left 15vw
    margin-left 0
    margin-top -200px
    > .inner
      > .title
        //width 210px
        width auto
  .menu
    top 15px
    right 15px
  .section
    > .logo
      display none !important
    > .inner
      width 80%
      height auto
      margin-left -40%
      margin-top -55%
      > .bottom > .servicelist
        gf(copy1s)
        float none !important
        width auto !important
        > .label
          padding 10px 0 !important
        > .item
          padding 1px !important
      > .bottom > .companys > .company
        width 50% !important
      > .bottom > .visit, > .bottom > .social
        float none !important
        width auto !important
        display block !important
        clear both
      > .bottom > .social > .icon
        margin 0 0 0 10px !important

@media all and (min-width: 1px) and (max-width: 1000px) and (orientation: landscape)
  .content
    height 320px
    margin-top -160px
    > .inner
      > .title, > .logo
        width 50vw
        margin-bottom 50px
      > .logo
        margin-top 25px
        margin-bottom 25px
  .svg
    margin-top -130px
  .section
    > .inner
      width 80%
      height auto
      margin-left -40%
      margin-top -20%
      > .bottom > .visit, > .bottom > .social
        float left !important
        width 50% !important
        clear none !important
        > .label
          padding 20px 0 !important



@media all and (min-width: 1px) and (max-width: 325px)
  .svg
    right 3%
    top 52%
  .menu
    top 10px

