.border
  position absolute
  background-color gc(teal1)
  &.vert
    height 12px
    width 100vw
  &.horiz
    width 12px
    height 100vh
  &.top
    top 0px
  &.bottom
    bottom 0px
  &.left
    left 0px
  &.right
    right 0px
.colors
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  > .cyan
    background-color gc(teal1)
    position absolute
    top 0
    left 0
    width 100%
    height 100%

.blend-multiply
  mix-blend-mode multiply
  > .video
    position absolute
    top 0
    bottom 0
    width 100%
    height 100%
    > video
      min-width 100%
      min-height 100%
      width auto
      height auto
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
  > .blend-screen
    mix-blend-mode soft-light
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-color rgba(gc(white1), 0.8)
    text-align center
    gf(h1)
    > .star
      position absolute
      width 50vh
      height 50vh
      top 50%
      margin-top -25vh
      right 0
      > svg
        width inherit
        height inherit
        > polygon
          fill black1

.green
  background-color rgb(255, 204, 184)
  position absolute
  top 0
  left 0
  width 100%
  height 100%
