vendor-prefixes ?= webkit moz o ms official

@import '/inc/mixins'
@import guide
@import '/inc/*'

.clear
  clearfix()

body
  padding 0
  margin 0
  gf(copy1)
  background-color red
.container
  width 100vw
  height 100vh
  position absolute
  overflow hidden
  mix-blend-mode multiply
  background-color green

@import 'index'
