
extends inc/layout

block content

  .colors
    .cyan
  .blend-multiply
    .video#video
      video(loop,muted,autoplay,poster="img/background.jpg")
        source(src="vid/fog.mp4")
    .blend-screen
      .star
        include ../pub/svg/star.svg

  .border.vert.top
  .border.horiz.left
  .border.vert.bottom
  .border.horiz.right

  script(type='text/javascript').
    Loader.load('/jst/index.js', 'Index');
