extends inc/layout

block content
  include ../pub/svg/star.svg
  include ../pub/svg/product.svg

  .colors
    .cyan
      .background.definery.on
      .background.iterate.off
      .background.navigate.off
      .background.product.off
    .svg.star.definery
      include ../pub/svg/all.svg
  .blend-multiply
    .video#video
      video(loop,muted,autoplay,poster="/img/poster.jpg")
        source(src="/vid/fog.mp4")
    .blend-screen
      .svg.star
        include ../pub/svg/all.svg

  .border.vert.top.definery
  .border.horiz.left.definery
  .border.vert.bottom.definery
  .border.horiz.right.definery

  .content.definery.on
    .inner
      //.top
        .nav.nav_definery.nav_to_product(data-dir="up",data-from="definery",data-to="product") the result
      .logo
        include ../pub/svg/logo.svg
      .pronounce /dəˈfīn(ə)rē/
      .define 1.  a digital product design and innovation company that transforms great ideas into amazing products that people want.
      .bottom
        .line
        .nav.nav_definery.nav_to_iterate(data-dir="down",data-from="definery",data-to="iterate")
          .arrow
            include ../pub/svg/arrow.svg
          .copy how we work

  .content.iterate.off
    .inner
      .top
        .nav.nav_iterate principle one
      .title Accelerate, Iterate, Advance
      .copy We walk the lines between thinking and making. It’s our mission to help you answer difficult questions, test solutions, and build better products, faster, smarter and with real users in mind.
      .bottom
        .line
        .nav.nav_iterate.nav_to_navigate(data-dir="down",data-from="iterate",data-to="navigate")
          .arrow
            include ../pub/svg/arrow.svg
          //.copy how we collaborate

  .content.navigate.off
    .inner
      .top
        .nav.nav_navigate.nav_to_iterate principle two
      .title Great products come from great teams
      .copy We pride ourselves in our expertise but know that the best solutions are the result of collaboration. This is why we form strong alliances with the people we work with, building relationships and cultivating talent so everyone is enabled to do their best work.
      .bottom
        .line
        .nav.nav_navigate.nav_to_product(data-dir="down",data-from="navigate",data-to="product")
          .arrow
            include ../pub/svg/arrow.svg
          //.copy the result

  .content.product.off
    .inner
      .top
        .nav.nav_product.nav_to_navigate principle three
      .title Winning products aren't just beautiful, they're easy to use
      .copy We look at the full picture, championing user needs above all. Through our rapid design and prototyping process, getting to a proof of concept has never been easier, more valuable or as attainable than it is today.
      .bottom
        .line
        .nav.nav_product.contact_cta
          .arrow.last
            include ../pub/svg/arrow.svg
          .copy get in touch


  .menu.on
    .option.contact_cta.option_contact.off(data-option='contact') contact

  .dots
    .dot.dot_definery.on(data-sect="definery",data-num=1): .inner
    .dot.dot_iterate.off(data-sect="iterate",data-num=2): .inner
    .dot.dot_navigate.off(data-sect="navigate",data-num=3): .inner
    .dot.dot_product.off(data-sect="product",data-num=4): .inner

  .contact.off
    .color
    .close.contact_cta
      include ../pub/svg/close.svg
    .inner
      .email 
        input(type="text",value="hello@definery.io",readonly)
      .socials
        a.social.facebook(href=data.meta.social.facebook,target='_blank')
          include ../pub/svg/social/facebook.svg
        .social.instagram(href=data.meta.social.instagram,target='_blank')
          include ../pub/svg/social/instagram.svg
        .social.linkedin(href=data.meta.social.linkedin,target='_blank')
          include ../pub/svg/social/linkedin.svg

  script(type='text/javascript').
    Loader.load('/jst/detect.js', 'Detect', function() {
      Loader.load('/jst/index.js', 'Index');
    });

