
extends inc/layout

block content

  .colors
    .cyan
    .star
      include ../pub/svg/star.svg
  .blend-multiply
    .video#video
      video(loop,muted,autoplay,poster="/img/poster.jpg")
        source(src="/vid/fog.mp4")
    .blend-screen
      .star
        include ../pub/svg/star.svg

  .border.vert.top
  .border.horiz.left
  .border.vert.bottom
  .border.horiz.right

  .content
    .logo
      include ../pub/svg/logo.svg

  script(type='text/javascript').
    Loader.load('/jst/index.js', 'Index');
